body {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url("fashion5.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.logo{
    position: absolute;
    height: auto;
    left: 0px;
    width: 250px;
    background: transparent;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color:rgb(237, 237, 245);
    text-decoration: none;
    font-size: 15px;
    transition: 0.5s;
}
.nav-links ul li a:hover{
    text-decoration: underline;
    color: orange;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: inline-block;
    margin: auto;
}

.text-box{
    width: 90%;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin:10px 0 40px;
    font-size:14px;
    color:#fff;
}
/*---------------------about------------------*/

.ABOUT{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}
.about-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.about-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);

}
/*---------------male collection--------*/

.STORE{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 5;
}
.male-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.male-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(233, 158, 158, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50);
    position: absolute;
}
.button{
    font-size: 1em;
    padding: 10px;
    color: black;
    border: 2px solid #e49d05;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.button:hover{
    background:#f5a002;
}
.CONTACT{
    text-align: center;
    width: 100%;
    margin: 2px, 6px;
    padding-top: 5;
}
.contact-form-widget{
    margin-left:auto;
    margin-right:auto;
    width:600px;
    max-width:100%;
    padding:40px 0;
}
.contactf-name,.contactf-email{
    float:left;
    margin-right: 2px;
    width:48.25%
}
.contactf-name{
    margin-right:3.5%;
}.contact-form-name,.contact-form-email,.contact-form-email-message,.contact-form-name:hover,.contact-form-name:focus,.contact-form-email:hover,.contact-form-email:focus,.contact-form-email-message:hover,.contact-form-email-message:focus{
    width:100%;
    max-width:100%;
    margin:0 0 20px;
    padding:10px 15px;
    font-size:12px;
    letter-spacing:1px;
    color:#444;
    background:#F3F3F3;
    border:medium none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
    .contact-form-name,.contact-form-email{
    height:37px;
}
.contact-form-email-message{
    height:170px;
}.contact-form-button-submit,.contact-form-button-submit:hover{
    width:13%;
    height:30px;
    font:normal 12px Arial;
    letter-spacing:1px;
    color:#444;
    display:block;
    outline:none;
    margin-bottom:20px;
    text-align:center;
    background:#E6E6E6;
    border:0;
    cursor:pointer;
}
.contact-form-button-submit:active{
    outline:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.contact-form-cross{
    border:medium none;
    box-shadow:none;
    padding:0;
    height:11px;
    width:11px;
}

